<div>
  <p-panel styleClass="ui-card-shadow"
    [ngClass]="( this.codsHealth.status === 'UP') ? 'status-ok' : 'status-error'">
      <p-header>
          <div>CODS</div>
      </p-header>
      <div>
          <p>Diskspace</p>
          <ul>
            <li>Status: {{ this.codsHealth.diskSpace.status }}</li>
            <li>Size: {{ this.codsHealth.diskSpace.total }}</li>
          </ul>
          <p>Mongo</p>
          <ul>
            <li>Status: {{ this.codsHealth.mongo.status }}</li>
            <li>Version: {{ this.codsHealth.mongo.version }}</li>
          </ul>
          <p>Database</p>
          <ul>
            <li>Status: {{ this.codsHealth.db.status }}</li>
            <li>Type: {{ this.codsHealth.db.database }}</li>
            <li>Ping: {{ this.codsHealth.db.hello }}</li>
          </ul>
      </div>
      <p-footer>
        {{ this.codsHealth.url }}
      </p-footer>

  </p-panel>
</div>
