<div class="container">

  <div class="panel">
    <h2>System Status</h2>
  </div>

  <div *ngIf='haveData'>

    <div>
      <p-tabView>
          <p-tabPanel header="Production" leftIcon="fa-calendar" headerStyleClass="ui-state-error">
              <div class="row">

                  <div class="col-md-3">
                    <p-card title="CODS" subtitle="{{ this.devEnvironment.codsHealth.url }}" styleClass="ui-card-shadow status-ok">
                        <div>
                            {{ this.devEnvironment.codsHealth.diskSpace.total }}
                        </div>
                      </p-card>
                </div>

                <div class="col-md-3">
                    <p-card title="Blackbeard" subtitle="{{ this.devEnvironment.codsHealth.url }}" styleClass="ui-card-shadow status-error">
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
                      </p-card>
                </div>

                  <div class="col-md-3">
                      <p-card title="Lorem ipsum" subtitle="Subtitle" styleClass="ui-card-shadow status-ok">
                          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
                        </p-card>
                  </div>

                  <div class="col-md-3">
                      <p-card title="Lorem ipsum" subtitle="Subtitle" styleClass="ui-card-shadow">
                          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
                        </p-card>
                  </div>
                </div>
          </p-tabPanel>
          <p-tabPanel header="Pre-Prod" leftIcon="fa fa-cog fa-spin" headerStyleClass="ui-state-warning">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
          </p-tabPanel>
          <p-tabPanel header="Development" leftIcon="fa fa-refresh fa-spin" rightIcon="fa-arrow-alt-circle-down" headerStyleClass="ui-state-default">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
          </p-tabPanel>
      </p-tabView>
  </div>

    <i class="fa fa-medkit" style="font-size:20px;color:red"></i>
    <i class="fa fa-cog fa-spin" style="font-size:16px;color:red"></i>
    <i class="fa fa-refresh fa-spin" style="font-size:16px;color:green"></i>


    <button (click)="showConfig()">Click Me</button>
    <button (click)="clearData()">Clear</button>

  </div>


</div>


