<div class="container">

  <div class="panel">
    <h3>Abalone....</h3>
  </div>

  <div *ngIf='haveData'>

    <div>
      <p-tabView>

          <p-tabPanel header="Development" leftIcon="fa-calendar" headerStyleClass="ui-state-error">
            <app-environment [environment]='this.devEnvironment' [environmentName]='"Development"'></app-environment>
          </p-tabPanel>

          <p-tabPanel header="Pre-Production" leftIcon="fa-calendar" headerStyleClass="ui-state-ok">
            Pre-Prod env will appear here...
          </p-tabPanel>

          <p-tabPanel header="Production" leftIcon="fa-calendar" headerStyleClass="ui-state-ok">
              Prod env will appear here...
          </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>


