.pageBackground {
  background: whitesmoke;
}

.ui-tabview {
  background-color: rgba(14, 2, 2, 0.041)!important;
}

.status-ok .ui-panel-titlebar {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(0,255,0,1));
  color: black;
  font-weight: bold;
}

.status-ok .ui-panel-footer {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(0,255,0,1));
  color: black;
}

.status-error .ui-panel-titlebar {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  color: black;
  font-weight: bold;
}

.status-error .ui-panel-footer {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  color: black;
}

.status-error .ui-card-title {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  color: black;
  font-weight: bold;
}

.status-ok .ui-card-title {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(0,255,0,1));
  color: black;
  font-weight: bold;
}

.ui-panel-titlebar {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(0,255,0,1));
  color: black;
  font-weight: bold;
}

.status-problem .ui-tabview-selected {
  background: blue;
  color: red;
  font-weight: bold;
}

.small-bottom-margin {
  margin-bottom: 10px;
}

.small-top-margin {
  margin-top: 10px;
}

.small-left-margin {
  margin-left: 10px;
}

.small-left-margin {
  margin-right: 10px;
}
